<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300" rel="stylesheet" type="text/css")
		link(rel="stylesheet", href="build/css/style.min.css")
	body
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore rem ullam, fugit eaque eum impedit dignissimos eius voluptatem blanditiis, reprehenderit quibusdam explicabo nisi doloremque cumque sint eveniet neque unde enim.
		.wrap
			.request.ul
				li
					header.request-card-head
						h3 Процессор
					section.request-card-body
						ul
							li
								|Тип процессора
								select
									option Любой
									option Intel
									option AMD
							li
							li
							li
							li
				li
					header.request-card-head
						h3 Видеокарта
					section.request-card-body
				li
					header.request-card-head
						h3 Материнская плата
					section.request-card-body
				li
					header.request-card-head
						h3 Оперативная память
					section.request-card-body
				li
					header.request-card-head
						h3 Жесткий диск
					section.request-card-body
				li
					header.request-card-head
						h3 Блок питания
					section.request-card-body
				li
					header.request-card-head
						h3 Системный блок
					section.request-card-body
				li
					header.request-card-head
						h3 Охлаждение для процессора
					section.request-card-body
				li
					header.request-card-head
						h3 процессор
					section.request-card-body
			ul.list-details
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/1")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/2")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/3")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/4")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/5")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/6")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/7")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/8")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
				li.item
					.image
						img(src="http://lorempixel.com/150/150/cats/9")
					.attributes
						h2 процессор
						ul
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
							li description
					.expand.round-button.expand-js
					.into-ya.round-button
						a(href="#")
		.footer
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, maiores!
		script(src="build/js/script.min.js")